body{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 5%;
    text-transform: uppercase;
}

h2{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
}

h3{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

button{
    padding: 16px 24px 20px; 

    background: #567C94;
    border-radius: 3px;
    border-style: none;

    font-family: Franklin Gothic ATF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;

    display: none;
}

button:hover{
    background-color: #3C5D73;
}

button:disabled{
    background-color: lightgray;
}

/* //-------------------------------------------------------------- */
/* Classes */
.container{
    display: flex;
    justify-content: center;
}

.center-container{
    width: 800px;
}

.body-small{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
}

.body-large{
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

.body-info{
    font-family: itc-galliard, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
}

.books-title{
    height: 64px;
    display: flex;
    align-items: flex-end;
    border-bottom-style: solid;
    border-bottom-width: .5px;
    border-bottom-color: #C4C4C4;
}

.bookshelf{
    display: flex;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
}

.column-5th{
    flex-direction: column;
    flex: 1 0 10%;
    padding: 16px 16px 0 16px;
    border-right: 0.0625rem solid #e2e2e2;
}

.column-5th:hover{
    background-color: aquamarine;
}

.column-5th:nth-child(5){
    border-right: 0;
}

.column-5th .book-title{
    font-weight: 600;
    font-size: 10px;
}

.column-5th .body-small{
    font-size: 10px;
}


.intro-text{
    display: flex;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
    padding-bottom: 4px;
}

.messingWithTheCover{
    display: none;
}

.book-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: .5px;
    border-bottom-color: #C4C4C4;
}

.author-title{
    display: none;
    flex-direction: column;
    padding: 14px 0px 16px 0px;
}

.author-title *{
    margin: 0px;
}

.button-container, .feelings-container{
    height: 52px;
    display: flex;
    justify-content: center;
}

.red-text{
    color: red; 
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.myCanvas{
    border-style: dashed;
    border-color: lightgreen;
}