body {
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 1000px;
}

h1 {
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 5%;
    text-transform: uppercase;
}

h2 {
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
}

h3 {
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

button {
    padding: 16px 24px 20px;

    background: #567C94;
    border-radius: 3px;
    border-style: none;

    font-family: franklin-gothic-atf, sans-serif;
    ;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;

    display: none;
}

button:hover {
    background-color: #3C5D73;
}

button:disabled {
    background-color: lightgray;
}

select {
    padding: 4px;
    margin: 0px 0 0px 0;

    background: #567C94;
    border-radius: 3px;
    border-style: none;

    font-family: franklin-gothic-atf, sans-serif;
    ;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    color: #FFFFFF;

}

canvas {
    touch-action: none;
}

/* //-------------------------------------------------------------- */
/* Classes */

.footer{
    /* position: fixed; */
    position: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: .5px solid grey;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}


.small-p{
    font-size: 10px;
    line-height: 16px;;
    color: slategray;
    text-align: left;
}

.container {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
}


.body-small {
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
}

.body-large {
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

.body-info {
    font-family: itc-galliard, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
}

.books-title {
    height: 40px;
    display: flex;
    align-items: flex-end;
    border-bottom-style: solid;
    border-bottom-width: .5px;
    border-bottom-color: #C4C4C4;
}

.bookshelf {
    display: flex;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
}

.column-5th {
    flex-direction: column;
    flex: 1 0 10%;
    padding: 16px 16px 0 16px;
    border-right: 0.0625rem solid #e2e2e2;
}

.column-5th > img {
    width = 80px;
}

.column-5th:hover {
    background-color: aquamarine;
}

.column-5th:nth-child(5) {
    border-right: 0;
}

.column-5th .book-title {
    font-weight: 600;
    font-size: 10px;
}

.column-5th .body-small {
    font-size: 10px;
}

.column-5th > img {
    width: 60px;
}

.dropdown {
    display: flex;
    align-items: center;
}

.intro-text {
    display: flex;
    align-items: center;
}

.messingWithTheCover {
    display: none;
}

.book-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: .5px;
    border-bottom-color: #C4C4C4;
}

.author-title {
    display: flex;
    flex-direction: column;
    padding: 14px 0px 16px 0px;
}

.author-title * {
    margin: 0px;
}

.button-container,
.feelings-container {
    height: 52px;
    display: flex;
    justify-content: center;
}

.red-text {
    color: red;
    text-decoration-line: underline;
    text-decoration-style: wavy;
}


.hover-overlay {
    display: none;
}

.cursor-redpen {
    cursor: url('/assets/cursors_redpen.png') 0 24, auto;
}

.cursor-eraser {
    cursor: url('/assets/cursors_eraser.png') 0 24, auto;
}

.cursor-smudge {
    cursor: url('/assets/cursors_smudge.png') 8 8, auto;
}

@media (max-width: 800px) {
    .center-container {
        width: 90vw;
    }
    
    .row{
        padding-bottom: 16px;
        flex-wrap: wrap;
    }

    select {
        min-height: 32px;
    }

    .bookshelf {
        width: 90vw;
        overflow-x: auto;
        white-space: nowrap;
    }

    .column-5th {
        width: 45vw;
    }

    .column-5th > img {
        width: 40vw;
        max-width: 132px;
    }

    .book-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .author-title > .body-small {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .book-info {
        flex-wrap: wrap;
        padding: 8px;
    }

    #active-book-info{
        padding-bottom: 0px;
        padding-top: 0px;
    }


    .footer{
        position: inherit;
        justify-content: center;
    }

    .footer > div {
        width: 90vw;
    }
    
}

@media (min-width: 801px) {
    .center-container {
        width: 800px;
    }
    .footer > div {
        width: 800px;
    }

    
}